<div class="comment">
    <div class="comment-header">
        <img src="{{ comment.author.image_file }}"
            class="comment-avatar">
        <h5>{{comment.author.username}}</h5>
        <span class="comment-date">{{delta_comment_date}}</span>
    </div>
    <div class="comment-body">
        <p id="comment-content-{{comment.id}}">{{comment.content}}</p>
        <div class="comment-actions">
            <div class="comment-like-action">
                {% if current_user.is_authenticated and not current_user in comment.likes %}
                <button id="comment-like-btn-{{comment.id}}" class="like-btn"
                    onclick="commentLike('{{ comment.id }}')">
                {% elif current_user.is_authenticated and current_user in comment.likes %}
                <button id="comment-like-btn-{{comment.id}}" class="like-btn active"
                    onclick="commentLike('{{ comment.id }}')">
                {% else %}
                <button id="comment-like-btn-{{comment.id}}" class="like-btn">
                {% endif %}
                <svg class="heart-icon" viewBox="0 0 24 24">
                    <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
                                2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09
                                C13.09 3.81 14.76 3 16.5 3
                                19.58 3 22 5.42 22 8.5
                                c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                </svg>
                <span id="comment-like-count-{{comment.id}}"
                    class="like-comment-count">{{comment.likes|length}}</span>
            </div>
            <button id="settings-btn-{{comment.id}}" class="settings-btn" onclick="commentSettings('{{ comment.id }}')">⚙</button>
        </div>
    </div>
</div>
