<div id="post-{{ post.id }}" class="post">
<form 
    class="post-card"
    onsubmit="savaEditPost(event, '{{post.id}}')"
>
    <div class="post-header">
        <img src="{{ url_for('profile.static', filename='profile-img/'+post.author.image_file) }}" class="post-avatar">
        <div class="post-header-info">
            <small style="font-size: 12px;">{{ delta_post_date }}</small>
            <a href="{{ url_for('profile.account',username=post.author.username) }}" style="color: #343a40;"><h4>{{ post.author.username}}</a> : <input type="text" name="title" value="{{ post.title }}" class="form-input" required></h4> 
        </div>
    </div>
    <textarea name="content" rows="3" class="form-input" required>{{ post.content }}</textarea>
    <div class="actions">
        <div class="left-actions">
            <button type="submit" class="btn" style="background-color: green;" >Save</button>
            <button 
                type="button" 
                class="btn" 
                style="background-color: gray;"
                onclick="cancelEditPost('{{post.id}}')"
            >Cancel</button>
        </div>
        <button class="btn delete">Delete</button>
    </div>
        
    </div>
</form>
</div>