<div class="post" id="post-{{post.id}}">
    <div class="post-card" id="post-card-{{post.id}}">
        <div class="post-header">
            <div style="display: contents;">
                <small style="font-size: 10px;">{{delta_post_date}}</small>
            </div>
            <div class="post-header-left-corner">
                {% if is_owner %}
                <button class="post-btn-settings" onclick="editPost('{{post.id}}')">⚙</button>
                {% endif %}
                <!-- like section  -->
                <div class="like-continer">
                    <span id="like-count-{{post.id}}" class="like-count">{{post.likes|length}}</span>
                    {% if current_user.is_authenticated and not current_user in post.likes %}
                    <button id="like-btn-{{post.id}}" class="post-btn-settings not-liked"
                        onclick="postLike('{{ post.id }}')">🤍</button>
                    {% elif current_user.is_authenticated and current_user in post.likes %}
                    <button id="like-btn-{{post.id}}" class="post-btn-settings liked"
                        onclick="postLike('{{ post.id }}')">🖤</button>
                    {% else %}
                    <button class="post-btn-settings">🤍</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="post-avatar-username-container">
            <img class="post-avatar" src="{{ post.author.image_file }}">
            <a href="{{ url_for('profile.account',username=post.author.username) }}" style="color: #343a40;">
                <h4>{{ post.author.username}}</h4>
            </a>
        </div>
        <div class="post-header-info" style="display: flex;justify-content: center;">
                <h4 id="post-title">{{ post.title }}</h4>
            </div>
        <p id="post-p">{{ post.content }}</p>

        {% if post.images %}
        {% if post.images|length == 1%}
            <div class="post-img-count">
                <img id="active-img-{{post.id}}" 
                    class="post-img" 
                    src="{{ post.images[0].file_name }}"
                    data-index="0"
                    alt="Post image"
                    >
            </div>
        {% else %}
            <div class="post-img-container">
                <button class="nav-arrow prev" data-post-id={{post.id}}>&#10094;</button>
                <div class="post-img-count">
                    <img id="active-img-{{post.id}}" 
                    class="post-img" 
                    src="{{ post.images[0].file_name }}"
                    data-index="0"
                    alt="Post image">
                    <div id="img-caption-{{post.id}}" class="post-img-caption">Img 1/{{ post.images|length }}</div>
                </div>
                <button class="nav-arrow next" data-post-id="{{post.id}}">&#10095;</button>  
            </div>
        {% endif %}
        {% endif %}


        <!-- add new comment -->
        {% if current_user.is_authenticated %}
        <form class="add-comment" onsubmit="submitNewComment(event, '{{post.id}}')">
            <img src="{{ current_user.image_file }}" class="comment-avatar">
            <textarea class="commment-input" name="comment-field" cols="5" type="text" value=""
                placeholder="Add comment" required></textarea>
            <button type="submit" class="add-comment-btn">💨</button>
        </form>
        {% endif %}
        <!-- show comment btn  -->
        {% if post.comments %}
        <button id="load-btn-{{ post.id }}" class="toggle-comments-btn" onclick="loadComments('{{ post.id }}')">💬
            ShowComments</button>
        {% endif %}
    </div>
        
    <!-- comments section -->
    <div id="new_comment-container-{{post.id}}" class="new_comment-container"></div>
    <div class="comments comments-container" id="comments-{{ post.id }}"></div>
</div>