{% extends "base.html" %}
{% set css_file = 'index.css' %}

{% block content %}
    
    {% if user.is_authenticated %}
        <div class="header">
            <a href="{{ url_for('profile.my_profile') }}" ><button class = "btn account">Account</button></a>
            <a href="{{ url_for('auth.logout') }}"><button class="btn logout">Log out</button></a>
        </div> 
        <h2>Hello <span style="color: #343a40;">Mr {{user.username}}</span></h2> 
    {% else %}
    <h2>Hello To Frist Project</h2> 
    <div class="header">
        <a href="{{ url_for('auth.register') }}" ><button class = "btn account">Sign Up</button></a>
        <a href="{{ url_for('auth.login') }}"><button class="btn account">Log in</button></a> 
    </div>
    {% endif %}

    <!-- post form  -->
    {% if user.is_authenticated %}
        <hr>
        {% include '_partials/post_form.html' with context %}
    {% endif %}

    <hr>
    
    <h3>Latest Posts</h3>
    <!-- posts  -->
    <div id="new_posts-container"></div>
    <div id="posts-container" class="posts"></div>
    <div id="load-more" style="display:none; padding:15px; text-align:center;">
        <div class="spinner"></div>
    </div>
    <div id="no-more">No more posts</div>


    
    <script src="{{ url_for('static', filename='js/comments.js') }}"></script>
    <script src="{{ url_for('static', filename='js/post_images.js') }}"></script>

    
{% endblock content %}

