{% extends "base.html" %}
{% set static_file = 'profile.static' %}
{% set css_file = 'account.css' %}

{% block content %}
<div class="header">
    <a href="{{ url_for('main.index') }}"><button class="btn" style="background-color: #007bff;">Home</button></a>
</div>
<hr>
<div class="profile">
    <img src="{{ image_file }}" class="avatar">
    <div>
        <h2>{{ user.username }}</h2>
        <p>Email: {{ user.email }}</p>
        <p>Posts: {{ post_count}}</p>
    </div>
</div>

{% if not user.posts %}
<div class="post-card">
    <p>No posts yet.</p>
</div>
{% else %}
<div class="posts">
    {% for post in user.posts[::-1] %}
    <div hx-get="{{ url_for('profile.post_card', post_id=post.id) }}" hx-trigger="load" hx-swap="outerHTML"></div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}