<div class="post-card" id="post-{{post.id}}">
    <div class="post-header">
        <img src="{{ url_for('profile.static', filename='profile-img/'+post.author.image_file) }}" class="post-avatar">
        <div class="post-header-info">
            <small style="font-size: 12px;">{{ post.date_post.strftime('%Y-%m-%d') }}</small>
            <a href="{{ url_for('profile.account',username=post.author.username) }}" style="color: #343a40;"><h4>{{ post.author.username}}</a> : {{ post.title }}</h4> 
        </div>
        {% if is_owner %}
        <button class="post-btn-settings" hx-get="{{url_for('post.get_edit_post',post_id=post.id)}}" hx-target="#post-{{post.id}}">🔷</button>
        {% endif %}
    </div>
    <p>{{ post.content }}</p>

</div>